@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, rgba(124, 124, 161, 0.8), rgba(136, 136, 206, 0.7)), url(./Fondo-website.avif) center/cover no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    text-align: center;
}

#Registration-general {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

fieldset {
    border: 0px;
}

.adjust, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#title, #description {
    font-weight: bold; 
    color: white; 
}

#survey-form {
    background: rgba(0, 0, 128, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: left;
}
.flexbox {
    display: flex;
}

#punto1, #punto2 {
    font-weight: bold;
}

h1 {
    text-align: center;
}

label {
    display: flex;
    align-items: center;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle; 
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}
